# Ignore all the following extensions
*.png
*.pdf
*.csv
*.ini
*.log
*.log.*
*.pyc
*.xlsx
*.xlsm
*.ipynb
*.pkl.gz
*.ppt
*.pptx

# Ignore the following directories
notebooks/
build/
dist/
venv/
.venv/
sims/output/**
sims/_build/**
reports/_build/

votesim/.pylint.d/
.pylint.d/
__mess_folder/

# Ignore project files
.spyproject/

**/.spyproject/*
**/__pycache__/*
**/__pycache__/

# Keep some image assets. 
!sims/assets/approval.png
!sims/assets/ranking.png
!sims/assets/scoring.png


votesim.egg-info/
.idea/
.pytest_cache/
